* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Serif', serif;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  width: auto;
  background-color: rgb(151, 150, 150);
  /*margin: 10px 10px 10px 10px;*/
}

.name {
  float: left;
  margin: 5px 5px 5px 5px;
}

.hamburger {
  float: right;
  margin: 5px 5px 5px 5px;
}

.icon {
  display: none;
}

li {
  list-style: none;
}

header {
  margin-top: 150px;
}

.about-me, .info {
  background-color: #ddd;
  padding: 2%;
  margin: 50px 5px 10px 5px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

/*@media screen and (min-width: 320px) {
  .click-links {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .click-links {
    display: flex;
    
  }
}*/