* {
  box-sizing: border-box;
}

@media screen and (min-width: 320px) {

  body {
    text-align: center;
    color: white;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    width: auto;
    font-family: 'Quattrocento', serif;
    font-size: 18px;
    background-color: white;
    margin-bottom: 15px;
    color: black;
  }

  ul#menu > li{
    float:right;
    list-style-type:none;
    position:relative;
    font-family: 'Oswald', sans-serif;
    background-color: white;
  }

  label {
    position: relative;
    display: block;
    padding: 0 35px;
    margin-bottom: 5px;
    margin-top: -7px;
    line-height: 30px;
    cursor: pointer;
    background-color: white;
  }  

  input {
    display: none;
  }

  input:checked ~ ul.submenu {
    max-height: 400px;
  }

  ul.submenu{
    max-height: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: white;
    transition: max-height 0.5s ease-out;
    position: absolute;
    min-width: 100%;
  }
  
  ul.submenu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  ul.submenu li a:hover{
    background: white;
  }

  .name {
    float: left;
    margin: 15px 0px 5px 10px;
    padding: 2px;
  }

  .pattern-one {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0, 0.4)), url(images/alaska.JPG) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .pattern-two { 
    background: linear-gradient(rgba(255,255,255,-0.2), rgba(255,255,255,-0.2)), url(images/docks.JPG) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;;
  }
  header {
    padding: 3.24em;
  }

  .banner {
    background: linear-gradient(rgba(0,0,0,-0.1), rgba(255,255,255,0.1)), url(images/mountains.JPG) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1 {
    margin-bottom: 100px;
    margin-top: 100px;
    font-family: 'Oswald', sans-serif;
    font-size: 90px;
    text-rendering: optimizeLegibility;
    color: white;
    margin: 0;
    font: bolder;
  }

  .web-dev {
    margin-top: 40px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 125px;
    color: white;
    font-weight: bold;
  }

  button {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    height: 75px;
    width: 200px;
    border: 2px #DADCE0 solid;
    border-radius: 16px;
    margin-bottom: 20px;
  }

  a {
    display: block;
    font-family: 'Quattrocento', serif;
    color: #434425;
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
  }

  .block-anchor {
    display: block;
  }

  .about-me-header {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 20px;
    font-size: 30px;
  }

  /*.content {
    background-color: white;
    color: black;
    margin: 5px;
    padding: 2px;
  }*/

  .linkedin-profile {
    margin-top: 50px;
  }

  p {
    font-family: 'Quattrocento', serif;
    font-size: 18px;
    line-height: 40px;
    vertical-align: baseline;
    text-align: left;
    margin: 15px;
  }

  .portfolio-header {
    display: inline-block;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 30px;
  }

  h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
  }

  .links {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }


  footer {
    font-family: 'Quattrocento', serif;
    font-size: 18px;
    color:black;
  }

  .pride {
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .about-me-section {
    display:inline-block;
    color: white;
    font-weight: bold;
    padding: 2%;
    margin: 135px 5px 50px 5px;
    width: 100%;
    height: 25%;
  } 
  
  .info {
    display:inline-block;
    color: white;
    font-weight: bold;
    padding: 2%;
    margin: 10px 5px 50px 5px;
    width: 100%;
    height: 25%;
  }

  .show-text {
    font-family: 'Quattrocento', serif;
    font-size: 25px;
    line-height: 40px;
    color: black;
    text-align: center;
  }

  .get-in-touch {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 800px) {
  .web-dev {
    margin-top: 20px;
  }

  .linkedin-profile {
    display: inline-block;
    margin: 5px 20px;
  }

  h1 {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  button {
    margin-right: 10px;
  }

  #about-me {
    margin-top: 100px;
  }
  .click-to-other {
    margin-top: 10px;
  }

  .about-me > p {
    display: inline-block;
  }

  .about-me-image-and-content {
      display: flex;
      width: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: 70px;
      color: white;
      font-weight: bold;
  }

  .portfolio-header {
    display: block;
    margin-bottom: 100px;
  }

  .info {
    display: inline-block;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    color: white;
    font-weight: bold;
    padding: 2%;
    margin: 100px 5px 10px 5px;
  }

  .float-paragraphs {
    display: flex;
    padding: 5%
  }

  .contact-me {
    display: inline-block;
    margin: 2em 2em 2em;
    
  }

  li {
    list-style: none;
  }
}